<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.stack.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.symbol.js')}"></script>
  <script type="text/javascript" src="${static.url('js/jquery.gradebook.js')}"></script>
  <script type="text/javascript" src="${static.url('js/jquery.mask.js')}"></script>
  <script type="text/javascript">

        $('.data_in').focus(function () {
            $(".save_button").remove();
            var b = $('<button type="submit" class="save_button" >save</button>');
            $(this).after(b);
            if(!($(this).attr('tabindex')%2)) {
                $(this).mask('00/00/0000')
            }
        });
        $( ".save_button" ).live("click", function() {
            var ntabindex = $(this).prev("input").attr('tabindex');
            ntabindex++;
            $('input[tabindex='+ntabindex+']').focus();
            $.ajax({
                type:'POST',
                url: "/ajax_grade",
                data: {tabindex: ntabindex-1}
            });
        });
        $('.data_in').keypress(function (e) {
         var key = e.which;
         if(key == 13)  // the enter key code
          {
            var ntabindex = $(this).attr('tabindex');
            ntabindex++;
            $('input[tabindex='+ntabindex+']').focus();
              $.ajax({
                type:'POST',
                url: "/ajax_grade",
                data: {tabindex: ntabindex-1,
                       course_id: "${course_raw_id}",
                       value: $(this).attr('value')
                        }
            });
          }
        });
        /*$("#sendGrade").submit(function (e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url: "/ajax_grade",
                data: $(this).attr('tabindex')
            });
        });*/


  </script>
</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>

  <style type="text/css">
  % for (grade, _), color in zip(ordered_grades, ['green', 'Chocolate']):
  .grade_${grade} {color:${color};}
  % endfor
  % for (grade, _) in ordered_grades[2:]:
  .grade_${grade} {color:DarkSlateGray;}
  % endfor
  .grade_F {color:DimGray;}
  .grade_None {color:LightGray;}
  </style>

  <script type="text/javascript">
    $(document).ready(function() {
      var gradebook = new Gradebook($('.gradebook-content'));
    });
  </script>

  <style>
        .table_input{
            height: 20px;
        }
        .grade_input {
            height: 20;
            width: 164px; /* Ширина поля с кнопкой */
            /*border: 1px solid #000;  Параметры рамки */
            min-height: 20px; /* Минимальная высота */
        }
        .data_in {
            border: none; /* Убираем рамку */
            outline: none; /* Убираем свечение в Chrome и Safari */
            -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
            width: 100px; /* Ширина поля */
            vertical-align: middle; /* Выравнивание по середине */
        }
        .save_button{
            width: 40px; /* Ширина кнопки */
            height: 18px; /* Высота кнопки */
            border: 0px; /* Убираем рамку */
            padding: 0px;
            text-align: center;
            /*background: url(${static.url('images/enter.png')}) no-repeat 50% 50%;*/
         }
  </style>

</%block>

<%include file="/courseware/course_navigation.html" args="active_page='stats'" />

<section class="container">
<div class="gradebook-wrapper">
  <section class="gradebook-content">
    <h1>${_("Gradebook")}</h1>
    <ul>
        <li>
            Hello
        </li>
        <li>
            YO
        </li>
    </ul>
    <table class="student-table">
      <thead>
        <tr>
          <th>
            <form class="student-search">
              <input type="search" class="student-search-field" placeholder="${_('Search students')}" />
            </form>
          </th>
        </tr>

      </thead>
      <tbody>
      <tr>
            <td class="table_input">
                min points
            </td>
        </tr>
        <tr>
            <td>
                deadline
            </td>
        </tr>
        %for student in students:
        <tr>
          <td>
            <a href="${reverse('student_progress', kwargs=dict(course_id=course_id.to_deprecated_string(), student_id=student['id']))}">${student['username']}</a>
          </td>
        </tr>
        %endfor
      </tbody>
    </table>



    %if len(students) > 0:
    <div class="grades">
      <table class="grade-table">
        <%
        templateSummary = students[0]['grade_summary']
        %>
        <thead>
          <tr> <!-- Header Row -->
            %for section in templateSummary['section_breakdown']:
              <th><div class="assignment-label">${section['label']}</div></th>
            %endfor
            <th><div class="assignment-label">Total</div></th>
          </tr>
        </thead>

        <%def name="percent_data(fraction)">
          <%
            letter_grade = 'None'
            if fraction > 0:
              letter_grade = 'F'
              for (grade, cutoff) in ordered_grades:
                if fraction >= cutoff:
                  letter_grade = grade
                  break

            data_class = "grade_" + letter_grade
          %>
          <td class="${data_class}" data-percent="${fraction}">${ "{0:.0f}".format( 100 * fraction ) }</td>
        </%def>

        <tbody>
        <tr>
        %for section in range(0,len(students[0]['grade_summary']['section_breakdown'])+1):
            <td>
                <div class="grade_input">
                  <%def name="input_grade(section)">
                    <%
                        value=""
                        for el in grading:
                          if el['problem_number'] == section+1:
                            value = el['min_grade']
                            break
                    %>
                    <input type="search" class="data_in" tabindex="${1+2*section}" value="${value}">
                  </%def>
                  ${input_grade(section)}
                </div>
            </td>
        %endfor
        </tr>
        <tr>
        %for section in range(0,len(students[0]['grade_summary']['section_breakdown'])+1):
            <td>
                <div class="grade_input">
                   <%def name="input_date(section)">
                    <%
                        value=""
                        for el in grading:
                          if el['problem_number'] == section+1:
                            date = el['deadline']
                            value = str(date.day)+'/'+str(date.month)+'/'+str(date.year)
                            break
                    %>
                    <input type="search" class="data_in" id="date_input" tabindex="${2+2*section}" value="${value}">
                   </%def>
                   ${input_date(section)}
                </div>
            </td>
        %endfor
        </tr>
          %for student in students:
          <tr>
            %for section in student['grade_summary']['section_breakdown']:
              ${percent_data( section['percent'] )}
            %endfor
            ${percent_data( student['grade_summary']['percent'])}
          </tr>
          %endfor
        </tbody>
      </table>
    </div>

    %endif
  </section>
</div>
</section>


